In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:

aisles = pd.read_csv("Data/aisles.csv")
departments = pd.read_csv("Data/departments.csv")
order_products_prior = pd.read_csv("Data/order_products__prior.csv")
order_products_train = pd.read_csv("Data/order_products__train.csv")
orders = pd.read_csv("Data/orders.csv")
products = pd.read_csv("Data/products.csv")

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [ ]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [ ]:
new_orders = orders[:10000]

In [ ]:
new_orders = new_orders[new_orders.eval_set == 'prior']

In [ ]:
new_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
9993,1506175,632,prior,5,6,23,10.0
9995,2650063,633,prior,1,3,12,NaN
9996,3051335,633,prior,2,6,19,17.0
9997,1901440,633,prior,3,1,9,30.0
9998,1624343,633,prior,4,1,13,30.0

In [ ]:
data = order_products_prior.merge(new_orders, on='order_id')

In [ ]:
data = data[['order_id', 'product_id']].copy()

In [ ]:
data

       order_id  product_id
0            40       10070
1            40       42450
2            40       33198
3            40       34866
4           214        5499
...         ...         ...
93734   3420572       15392
93735   3420572       38647
93736   3420572       34124
93737   3420572       26638
93738   3420572       48679

[93739 rows x 2 columns]

In [ ]:
order_ids = data['order_id'].values

In [ ]:
np.unique(order_ids)

array([     40,     214,    1483, ..., 3418806, 3419231, 3420572],
      dtype=int64)

In [ ]:
order_id =  order_ids.astype(int)

In [ ]:
datas = data.groupby('order_id')['product_id'].apply(list).reset_index(name="products")

In [ ]:
datas

      order_id                                           products
0           40                       [10070, 42450, 33198, 34866]
1          214  [5499, 8424, 37053, 24852, 21329, 25093, 25043...
2         1483  [32818, 27582, 12302, 1831, 19204, 10180, 1545...
3         2199  [24852, 17616, 47877, 33313, 651, 16953, 49615...
4         2593                  [13176, 5612, 8193, 32486, 47209]
...        ...                                                ...
9362   3417487                              [34789, 28931, 41131]
9363   3417792                                      [7521, 25718]
9364   3418806  [21903, 11005, 31471, 43920, 44706, 48057, 185...
9365   3419231  [12078, 16953, 10326, 13176, 4377, 12341, 3298...
9366   3420572  [47209, 18465, 33000, 3873, 22935, 22240, 4697...

[9367 rows x 2 columns]

In [ ]:
df = pd.DataFrame(datas, columns=products['product_id'].values)

In [ ]:
df = pd.DataFrame(datas, columns=products['product_id'].values)

In [ ]:
df

,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
lst = [""] * 101
l = [1,2,3,4,5]
for i in range(0, 100):
    if i in l:
        lst[i] = 1
    else:
        lst[i] = 0
lst

[0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '']

In [ ]:
products_list = list(datas.products)

In [ ]:
size = len(products)

In [ ]:
size

49688

In [ ]:
n = len(products_list)

In [ ]:
n

9367

In [28]:
new_list = []
for i in products_list:
    ls = [''] * size 
    for j in range(0, size):
        if j in i:
            ls[j] = 1
        else : 
            ls[j] = 0
    new_list.append(ls)
new_list

KeyboardInterrupt:

In [ ]:
df = pd.DataFrame(new_list, columns=products['product_id'].values)

In [ ]:
df.value_counts()

Series([], dtype: int64)

In [2]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
orders = pd.read_csv("Data/orders.csv")
order_products_prior =pd.read_csv("Data/order_products__prior.csv")
order_products_train = pd.read_csv("Data/order_products__train.csv")
products = pd.read_csv("Data/products.csv")

In [36]:
order_products = order_products_prior.append(order_products_train)
order_products.shape

(33819106, 4)

In [35]:
order_products.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,28985,2,1,Michigan Organic Kale,83,4
1,2,17794,6,1,Carrots,83,4
2,3,24838,2,1,Unsweetened Almondmilk,91,16
3,3,21903,4,1,Organic Baby Spinach,123,4
4,3,46667,6,1,Organic Ginger Root,83,4

In [6]:
order_products.product_id.nunique()

49685

In [37]:
product_counts = order_products.groupby('product_id')['order_id'].count().reset_index().rename(columns = {'order_id':'frequency'})
product_counts = product_counts.sort_values('frequency', ascending=False)[0:49688].reset_index(drop = True)
product_counts = product_counts.merge(products, on = 'product_id', how = 'left')
product_counts.head(10)

   product_id  frequency            product_name  aisle_id  department_id
0       24852     491291                  Banana        24              4
1       13176     394930  Bag of Organic Bananas        24              4
2       21137     275577    Organic Strawberries        24              4
3       21903     251705    Organic Baby Spinach       123              4
4       47209     220877    Organic Hass Avocado        24              4
5       47766     184224         Organic Avocado        24              4
6       47626     160792             Large Lemon        24              4
7       16797     149445            Strawberries        24              4
8       26209     146660                   Limes        24              4
9       27845     142813      Organic Whole Milk        84             16

In [38]:
product_counts

,product_id,frequency,product_name,aisle_id,department_id
0,24852,491291,Banana,24,4
1,13176,394930,Bag of Organic Bananas,24,4
2,21137,275577,Organic Strawberries,24,4
3,21903,251705,Organic Baby Spinach,123,4
4,47209,220877,Organic Hass Avocado,24,4
...,...,...,...,...,...
49680,35890,1,Petite Black Eyed Peas,63,9
49681,13397,1,"Molasses, Bead",66,6
49682,15388,1,Orange Flavored Ice Cubes,37,1
49683,35952,1,Peachtree Schnapps,124,5
49684,26627,1,Max White With Polishing Star Soft Toothbrush,20,11

In [39]:
freq_products = list(product_counts.product_id)
freq_products[1:10]

[13176, 21137, 21903, 47209, 47766, 47626, 16797, 26209, 27845]

In [40]:
freq_products
len(freq_products)

49685

In [41]:
order_products = order_products[order_products.product_id.isin(freq_products)]
order_products.shape

(33819106, 4)

In [42]:
order_products.order_id.nunique()

3346083

In [43]:
order_products = order_products.merge(products, on = 'product_id', how='left')
order_products.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,2,28985,2,1,Michigan Organic Kale,83,4
2,2,9327,3,0,Garlic Powder,104,13
3,2,45918,4,1,Coconut Butter,19,13
4,2,30035,5,0,Natural Sweetener,17,13

In [11]:
order_products.shape

(7795471, 7)

In [12]:
basket = order_products.groupby(['order_id', 'product_name'])['reordered'].count().unstack().reset_index().fillna(0).set_index('order_id')
basket.head()

product_name,100% Raw Coconut Water,100% Whole Wheat Bread,2% Reduced Fat Milk,Apple Honeycrisp Organic,Asparagus,Bag of Organic Bananas,Banana,Bartlett Pears,Blueberries,Boneless Skinless Chicken Breasts,...,Sparkling Natural Mineral Water,Sparkling Water Grapefruit,Spring Water,Strawberries,Uncured Genoa Salami,Unsalted Butter,Unsweetened Almondmilk,Unsweetened Original Almond Breeze Almond Milk,Whole Milk,Yellow Onions
order_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1 
basket = basket.applymap(encode_units)
basket.head()

product_name,100% Raw Coconut Water,100% Whole Wheat Bread,2% Reduced Fat Milk,Apple Honeycrisp Organic,Asparagus,Bag of Organic Bananas,Banana,Bartlett Pears,Blueberries,Boneless Skinless Chicken Breasts,...,Sparkling Natural Mineral Water,Sparkling Water Grapefruit,Spring Water,Strawberries,Uncured Genoa Salami,Unsalted Butter,Unsweetened Almondmilk,Unsweetened Original Almond Breeze Almond Milk,Whole Milk,Yellow Onions
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
basket.size

244498200

In [17]:
basket.shape

(2444982, 100)

In [15]:
frequent_items = apriori(basket, min_support=0.01, use_colnames=True, low_memory=True)
frequent_items.head()

    support                    itemsets
0  0.016062    (100% Raw Coconut Water)
1  0.025814    (100% Whole Wheat Bread)
2  0.015800       (2% Reduced Fat Milk)
3  0.035694  (Apple Honeycrisp Organic)
4  0.029101                 (Asparagus)

In [19]:
frequent_items.tail()

      support                                      itemsets
124  0.010235   (Organic Blueberries, Organic Strawberries)
125  0.010966   (Organic Hass Avocado, Organic Raspberries)
126  0.017314  (Organic Strawberries, Organic Hass Avocado)
127  0.014533   (Organic Strawberries, Organic Raspberries)
128  0.010130    (Organic Strawberries, Organic Whole Milk)

In [20]:
frequent_items.shape

(129, 2)

In [61]:
rules = association_rules(frequent_items, metric="lift", min_threshold=1)
data = rules.sort_values('lift', ascending=False)

In [53]:
data.shape

(56, 9)

In [19]:
def predict(inp):
    res = data.loc[data['antecedents'] == inp]
    print(res, type(res))
predict('Banana')

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: [] <class 'pandas.core.frame.DataFrame'>

In [ ]:
res = data[data['support'] == 0.01186]
print(res)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [46]:
del data

In [79]:
data = pd.read_csv("basket_data_top100.csv")

In [83]:
data["antecedents"]

0                      frozenset({'Limes'})
1                frozenset({'Large Lemon'})
2        frozenset({'Organic Raspberries'})
3       frozenset({'Organic Strawberries'})
4            frozenset({'Organic Avocado'})
5                frozenset({'Large Lemon'})
6        frozenset({'Organic Blueberries'})
7       frozenset({'Organic Strawberries'})
8        frozenset({'Organic Raspberries'})
9       frozenset({'Organic Hass Avocado'})
10        frozenset({'Organic Fuji Apple'})
11                    frozenset({'Banana'})
12    frozenset({'Bag of Organic Bananas'})
13       frozenset({'Organic Raspberries'})
14    frozenset({'Bag of Organic Bananas'})
15      frozenset({'Organic Hass Avocado'})
16                    frozenset({'Banana'})
17          frozenset({'Honeycrisp Apple'})
18           frozenset({'Organic Avocado'})
19      frozenset({'Organic Baby Spinach'})
20      frozenset({'Organic Strawberries'})
21      frozenset({'Organic Hass Avocado'})
22            frozenset({'Cucumber Kirby'})
23                    frozenset({'Banana'})
24      frozenset({'Organic Hass Avocado'})
25      frozenset({'Organic Baby Spinach'})
26      frozenset({'Organic Strawberries'})
27        frozenset({'Organic Whole Milk'})
28           frozenset({'Organic Avocado'})
29                    frozenset({'Banana'})
30       frozenset({'Seedless Red Grapes'})
31                    frozenset({'Banana'})
32    frozenset({'Bag of Organic Bananas'})
33      frozenset({'Organic Strawberries'})
34              frozenset({'Strawberries'})
35                    frozenset({'Banana'})
36      frozenset({'Organic Baby Spinach'})
37      frozenset({'Organic Strawberries'})
38    frozenset({'Bag of Organic Bananas'})
39      frozenset({'Organic Yellow Onion'})
40               frozenset({'Large Lemon'})
41                    frozenset({'Banana'})
42      frozenset({'Organic Baby Spinach'})
43    frozenset({'Bag of Organic Bananas'})
44           frozenset({'Organic Avocado'})
45      frozenset({'Organic Strawberries'})
46    frozenset({'Bag of Organic Bananas'})
47        frozenset({'Organic Whole Milk'})
48                    frozenset({'Banana'})
49        frozenset({'Organic Whole Milk'})
50                     frozenset({'Limes'})
51                    frozenset({'Banana'})
52                    frozenset({'Banana'})
53      frozenset({'Organic Baby Spinach'})
54                    frozenset({'Banana'})
55      frozenset({'Organic Strawberries'})
Name: antecedents, dtype: object

In [76]:
data["antecedents"] = data["antecedents"].apply(lambda x: list(x)[0]).astype("unicode")
data["consequents"] = data["consequents"].apply(lambda x: list(x)[0]).astype("unicode")
data

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,f,f,0.059984,0.065764,0.011860,0.197723,3.006544,0.007915,1.164480
1,f,f,0.065764,0.059984,0.011860,0.180345,3.006544,0.007915,1.146843
2,f,f,0.058325,0.112711,0.014533,0.249174,2.210731,0.007959,1.181751
3,f,f,0.112711,0.058325,0.014533,0.128940,2.210731,0.007959,1.081069
4,f,f,0.075348,0.065764,0.010538,0.139862,2.126728,0.005583,1.086147
5,f,f,0.065764,0.075348,0.010538,0.160244,2.126728,0.005583,1.101097
6,f,f,0.042956,0.112711,0.010235,0.238274,2.114024,0.005394,1.164840
7,f,f,0.112711,0.042956,0.010235,0.090809,2.114024,0.005394,1.052633
8,f,f,0.058325,0.090339,0.010966,0.188018,2.081257,0.005697,1.120298
9,f,f,0.090339,0.058325,0.010966,0.121389,2.081257,0.005697,1.071777
10,f,f,0.037992,0.200938,0.014378,0.378441,1.883367,0.006744,1.285576
11,f,f,0.200938,0.037992,0.014378,0.071552,1.883367,0.006744,1.036147
12,f,f,0.161527,0.058325,0.017294,0.107065,1.835662,0.007873,1.054584
13,f,f,0.058325,0.161527,0.017294,0.296508,1.835662,0.007873,1.191874
14,f,f,0.161527,0.090339,0.026487,0.163981,1.815175,0.011895,1.088087
15,f,f,0.090339,0.161527,0.026487,0.293199,1.815175,0.011895,1.186294
16,f,f,0.200938,0.034078,0.012122,0.060329,1.770317,0.005275,1.027936
17,f,f,0.034078,0.200938,0.012122,0.355725,1.770317,0.005275,1.240249
18,f,f,0.075348,0.102948,0.013207,0.175281,1.702625,0.005450,1.087707
19,f,f,0.102948,0.075348,0.013207,0.128289,1.702625,0.005450,1.060733
20,f,f,0.112711,0.090339,0.017314,0.153616,1.700440,0.007132,1.074762
21,f,f,0.090339,0.112711,0.017314,0.191659,1.700440,0.007132,1.097666
22,f,f,0.040789,0.200938,0.013432,0.329296,1.638788,0.005236,1.191377
23,f,f,0.200938,0.040789,0.013432,0.066844,1.638788,0.005236,1.027922
24,f,f,0.090339,0.102948,0.014787,0.163679,1.589929,0.005486,1.072618
25,f,f,0.102948,0.090339,0.014787,0.143632,1.589929,0.005486,1.062232
26,f,f,0.112711,0.058411,0.010130,0.089873,1.538645,0.003546,1.034569
27,f,f,0.058411,0.112711,0.010130,0.173423,1.538645,0.003546,1.073449
28,f,f,0.075348,0.200938,0.022745,0.301866,1.502282,0.007605,1.144568
29,f,f,0.200938,0.075348,0.022745,0.113194,1.502282,0.007605,1.042677
30,f,f,0.035480,0.200938,0.010534,0.296906,1.477596,0.003405,1.136493
31,f,f,0.200938,0.035480,0.010534,0.052425,1.477596,0.003405,1.017883
32,f,f,0.161527,0.112711,0.026463,0.163832,1.453551,0.008257,1.061136
33,f,f,0.112711,0.161527,0.026463,0.234787,1.453551,0.008257,1.095739
34,f,f,0.061123,0.200938,0.017661,0.288936,1.437931,0.005379,1.123754
35,f,f,0.200938,0.061123,0.017661,0.087891,1.437931,0.005379,1.029347
36,f,f,0.102948,0.112711,0.016267,0.158014,1.401939,0.004664,1.053805
37,f,f,0.112711,0.102948,0.016267,0.144326,1.401939,0.004664,1.048358
38,f,f,0.161527,0.048146,0.010460,0.064756,1.344989,0.002683,1.017760
39,f,f,0.048146,0.161527,0.010460,0.217252,1.344989,0.002683,1.071191
40,f,f,0.065764,0.200938,0.017603,0.267663,1.332062,0.004388,1.091111
41,f,f,0.200938,0.065764,0.017603,0.087602,1.332062,0.004388,1.023934
42,f,f,0.102948,0.161527,0.021517,0.209007,1.293944,0.004888,1.060026
43,f,f,0.161527,0.102948,0.021517,0.133208,1.293944,0.004888,1.034911
44,f,f,0.075348,0.112711,0.010254,0.136095,1.207468,0.001762,1.027068
45,f,f,0.112711,0.075348,0.010254,0.090980,1.207468,0.001762,1.017197
46,f,f,0.161527,0.058411,0.011288,0.069883,1.196413,0.001853,1.012335
47,f,f,0.058411,0.161527,0.011288,0.193253,1.196413,0.001853,1.039326
48,f,f,0.200938,0.058411,0.013368,0.066529,1.138984,0.001631,1.008697
49,f,f,0.058411,0.200938,0.013368,0.228866,1.138984,0.001631,1.036216
50,f,f,0.059984,0.200938,0.013539,0.225713,1.123292,0.001486,1.031996
51,f,f,0.200938,0.059984,0.013539,0.067380,1.123292,0.001486,1.007930
52,f,f,0.200938,0.102948,0.021839,0.108683,1.055712,0.001152,1.006435
53,f,f,0.102948,0.200938,0.021839,0.212133,1.055712,0.001152,1.014209
54,f,f,0.200938,0.112711,0.023857,0.118728,1.053382,0.001209,1.006827
55,f,f,0.112711,0.200938,0.023857,0.211665,1.053382,0.001209,1.013607

In [64]:
data.to_csv('basket_data_top101.csv')

In [73]:
data

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...","(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...",0.059984,0.065764,0.011860,0.197723,3.006544,0.007915,1.164480
1,"(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...","(f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...",0.065764,0.059984,0.011860,0.180345,3.006544,0.007915,1.146843
2,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.058325,0.112711,0.014533,0.249174,2.210731,0.007959,1.181751
3,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.058325,0.014533,0.128940,2.210731,0.007959,1.081069
4,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...",0.075348,0.065764,0.010538,0.139862,2.126728,0.005583,1.086147
5,"(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.065764,0.075348,0.010538,0.160244,2.126728,0.005583,1.101097
6,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.042956,0.112711,0.010235,0.238274,2.114024,0.005394,1.164840
7,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.042956,0.010235,0.090809,2.114024,0.005394,1.052633
8,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.058325,0.090339,0.010966,0.188018,2.081257,0.005697,1.120298
9,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.090339,0.058325,0.010966,0.121389,2.081257,0.005697,1.071777
10,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.037992,0.200938,0.014378,0.378441,1.883367,0.006744,1.285576
11,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.200938,0.037992,0.014378,0.071552,1.883367,0.006744,1.036147
12,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.058325,0.017294,0.107065,1.835662,0.007873,1.054584
13,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.058325,0.161527,0.017294,0.296508,1.835662,0.007873,1.191874
14,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.090339,0.026487,0.163981,1.815175,0.011895,1.088087
15,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.090339,0.161527,0.026487,0.293199,1.815175,0.011895,1.186294
16,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', H, o, n, ...",0.200938,0.034078,0.012122,0.060329,1.770317,0.005275,1.027936
17,"(f, r, o, z, e, n, s, e, t, (, {, ', H, o, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.034078,0.200938,0.012122,0.355725,1.770317,0.005275,1.240249
18,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.075348,0.102948,0.013207,0.175281,1.702625,0.005450,1.087707
19,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.102948,0.075348,0.013207,0.128289,1.702625,0.005450,1.060733
20,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.090339,0.017314,0.153616,1.700440,0.007132,1.074762
21,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.090339,0.112711,0.017314,0.191659,1.700440,0.007132,1.097666
22,"(f, r, o, z, e, n, s, e, t, (, {, ', C, u, c, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.040789,0.200938,0.013432,0.329296,1.638788,0.005236,1.191377
23,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', C, u, c, ...",0.200938,0.040789,0.013432,0.066844,1.638788,0.005236,1.027922
24,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.090339,0.102948,0.014787,0.163679,1.589929,0.005486,1.072618
25,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.102948,0.090339,0.014787,0.143632,1.589929,0.005486,1.062232
26,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.058411,0.010130,0.089873,1.538645,0.003546,1.034569
27,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.058411,0.112711,0.010130,0.173423,1.538645,0.003546,1.073449
28,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.075348,0.200938,0.022745,0.301866,1.502282,0.007605,1.144568
29,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.200938,0.075348,0.022745,0.113194,1.502282,0.007605,1.042677
30,"(f, r, o, z, e, n, s, e, t, (, {, ', S, e, e, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.035480,0.200938,0.010534,0.296906,1.477596,0.003405,1.136493
31,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', S, e, e, ...",0.200938,0.035480,0.010534,0.052425,1.477596,0.003405,1.017883
32,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.112711,0.026463,0.163832,1.453551,0.008257,1.061136
33,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.112711,0.161527,0.026463,0.234787,1.453551,0.008257,1.095739
34,"(f, r, o, z, e, n, s, e, t, (, {, ', S, t, r, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.061123,0.200938,0.017661,0.288936,1.437931,0.005379,1.123754
35,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', S, t, r, ...",0.200938,0.061123,0.017661,0.087891,1.437931,0.005379,1.029347
36,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.102948,0.112711,0.016267,0.158014,1.401939,0.004664,1.053805
37,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.102948,0.016267,0.144326,1.401939,0.004664,1.048358
38,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.048146,0.010460,0.064756,1.344989,0.002683,1.017760
39,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.048146,0.161527,0.010460,0.217252,1.344989,0.002683,1.071191
40,"(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.065764,0.200938,0.017603,0.267663,1.332062,0.004388,1.091111
41,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...",0.200938,0.065764,0.017603,0.087602,1.332062,0.004388,1.023934
42,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.102948,0.161527,0.021517,0.209007,1.293944,0.004888,1.060026
43,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.102948,0.021517,0.133208,1.293944,0.004888,1.034911
44,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.075348,0.112711,0.010254,0.136095,1.207468,0.001762,1.027068
45,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.112711,0.075348,0.010254,0.090980,1.207468,0.001762,1.017197
46,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.161527,0.058411,0.011288,0.069883,1.196413,0.001853,1.012335
47,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...",0.058411,0.161527,0.011288,0.193253,1.196413,0.001853,1.039326
48,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.200938,0.058411,0.013368,0.066529,1.138984,0.001631,1.008697
49,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.058411,0.200938,0.013368,0.228866,1.138984,0.001631,1.036216
50,"(f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.059984,0.200938,0.013539,0.225713,1.123292,0.001486,1.031996
51,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...",0.200938,0.059984,0.013539,0.067380,1.123292,0.001486,1.007930
52,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.200938,0.102948,0.021839,0.108683,1.055712,0.001152,1.006435
53,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.102948,0.200938,0.021839,0.212133,1.055712,0.001152,1.014209
54,"(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...","(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...",0.200938,0.112711,0.023857,0.118728,1.053382,0.001209,1.006827
55,"(f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...","(f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...",0.112711,0.200938,0.023857,0.211665,1.053382,0.001209,1.013607

In [71]:
cols = ['antecedents','consequents']
data[cols] = data[cols].applymap(lambda x: tuple(x))
print (data)

                                          antecedents  \
0   (f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...
1   (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...
2   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
3   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
4   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
5   (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...
6   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
7   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
8   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
9   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
10  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
11  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
12  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
13  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
14  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
15  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
16  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
17  (f, r, o, z, e, n, s, e, t, (, {, ', H, o, n, ...
18  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
19  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
20  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
21  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
22  (f, r, o, z, e, n, s, e, t, (, {, ', C, u, c, ...
23  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
24  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
25  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
26  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
27  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
28  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
29  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
30  (f, r, o, z, e, n, s, e, t, (, {, ', S, e, e, ...
31  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
32  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
33  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
34  (f, r, o, z, e, n, s, e, t, (, {, ', S, t, r, ...
35  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
36  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
37  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
38  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
39  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
40  (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...
41  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
42  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
43  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
44  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
45  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
46  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...
47  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
48  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
49  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
50  (f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...
51  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
52  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
53  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...
54  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...
55  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...

                                          consequents  antecedent support  \
0   (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...            0.059984
1   (f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...            0.065764
2   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.058325
3   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
4   (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...            0.075348
5   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.065764
6   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.042956
7   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
8   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.058325
9   (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.090339
10  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.037992
11  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.200938
12  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
13  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.058325
14  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
15  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.090339
16  (f, r, o, z, e, n, s, e, t, (, {, ', H, o, n, ...            0.200938
17  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.034078
18  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.075348
19  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.102948
20  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
21  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.090339
22  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.040789
23  (f, r, o, z, e, n, s, e, t, (, {, ', C, u, c, ...            0.200938
24  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.090339
25  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.102948
26  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
27  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.058411
28  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.075348
29  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.200938
30  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.035480
31  (f, r, o, z, e, n, s, e, t, (, {, ', S, e, e, ...            0.200938
32  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
33  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.112711
34  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.061123
35  (f, r, o, z, e, n, s, e, t, (, {, ', S, t, r, ...            0.200938
36  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.102948
37  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
38  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
39  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.048146
40  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.065764
41  (f, r, o, z, e, n, s, e, t, (, {, ', L, a, r, ...            0.200938
42  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.102948
43  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
44  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.075348
45  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.112711
46  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.161527
47  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, g, ...            0.058411
48  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.200938
49  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.058411
50  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.059984
51  (f, r, o, z, e, n, s, e, t, (, {, ', L, i, m, ...            0.200938
52  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.200938
53  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.102948
54  (f, r, o, z, e, n, s, e, t, (, {, ', O, r, g, ...            0.200938
55  (f, r, o, z, e, n, s, e, t, (, {, ', B, a, n, ...            0.112711

    consequent support   support  confidence      lift  leverage  conviction
0             0.065764  0.011860    0.197723  3.006544  0.007915    1.164480
1             0.059984  0.011860    0.180345  3.006544  0.007915    1.146843
2             0.112711  0.014533    0.249174  2.210731  0.007959    1.181751
3             0.058325  0.014533    0.128940  2.210731  0.007959    1.081069
4             0.065764  0.010538    0.139862  2.126728  0.005583    1.086147
5             0.075348  0.010538    0.160244  2.126728  0.005583    1.101097
6             0.112711  0.010235    0.238274  2.114024  0.005394    1.164840
7             0.042956  0.010235    0.090809  2.114024  0.005394    1.052633
8             0.090339  0.010966    0.188018  2.081257  0.005697    1.120298
9             0.058325  0.010966    0.121389  2.081257  0.005697    1.071777
10            0.200938  0.014378    0.378441  1.883367  0.006744    1.285576
11            0.037992  0.014378    0.071552  1.883367  0.006744    1.036147
12            0.058325  0.017294    0.107065  1.835662  0.007873    1.054584
13            0.161527  0.017294    0.296508  1.835662  0.007873    1.191874
14            0.090339  0.026487    0.163981  1.815175  0.011895    1.088087
15            0.161527  0.026487    0.293199  1.815175  0.011895    1.186294
16            0.034078  0.012122    0.060329  1.770317  0.005275    1.027936
17            0.200938  0.012122    0.355725  1.770317  0.005275    1.240249
18            0.102948  0.013207    0.175281  1.702625  0.005450    1.087707
19            0.075348  0.013207    0.128289  1.702625  0.005450    1.060733
20            0.090339  0.017314    0.153616  1.700440  0.007132    1.074762
21            0.112711  0.017314    0.191659  1.700440  0.007132    1.097666
22            0.200938  0.013432    0.329296  1.638788  0.005236    1.191377
23            0.040789  0.013432    0.066844  1.638788  0.005236    1.027922
24            0.102948  0.014787    0.163679  1.589929  0.005486    1.072618
25            0.090339  0.014787    0.143632  1.589929  0.005486    1.062232
26            0.058411  0.010130    0.089873  1.538645  0.003546    1.034569
27            0.112711  0.010130    0.173423  1.538645  0.003546    1.073449
28            0.200938  0.022745    0.301866  1.502282  0.007605    1.144568
29            0.075348  0.022745    0.113194  1.502282  0.007605    1.042677
30            0.200938  0.010534    0.296906  1.477596  0.003405    1.136493
31            0.035480  0.010534    0.052425  1.477596  0.003405    1.017883
32            0.112711  0.026463    0.163832  1.453551  0.008257    1.061136
33            0.161527  0.026463    0.234787  1.453551  0.008257    1.095739
34            0.200938  0.017661    0.288936  1.437931  0.005379    1.123754
35            0.061123  0.017661    0.087891  1.437931  0.005379    1.029347
36            0.112711  0.016267    0.158014  1.401939  0.004664    1.053805
37            0.102948  0.016267    0.144326  1.401939  0.004664    1.048358
38            0.048146  0.010460    0.064756  1.344989  0.002683    1.017760
39            0.161527  0.010460    0.217252  1.344989  0.002683    1.071191
40            0.200938  0.017603    0.267663  1.332062  0.004388    1.091111
41            0.065764  0.017603    0.087602  1.332062  0.004388    1.023934
42            0.161527  0.021517    0.209007  1.293944  0.004888    1.060026
43            0.102948  0.021517    0.133208  1.293944  0.004888    1.034911
44            0.112711  0.010254    0.136095  1.207468  0.001762    1.027068
45            0.075348  0.010254    0.090980  1.207468  0.001762    1.017197
46            0.058411  0.011288    0.069883  1.196413  0.001853    1.012335
47            0.161527  0.011288    0.193253  1.196413  0.001853    1.039326
48            0.058411  0.013368    0.066529  1.138984  0.001631    1.008697
49            0.200938  0.013368    0.228866  1.138984  0.001631    1.036216
50            0.200938  0.013539    0.225713  1.123292  0.001486    1.031996
51            0.059984  0.013539    0.067380  1.123292  0.001486    1.007930
52            0.102948  0.021839    0.108683  1.055712  0.001152    1.006435
53            0.200938  0.021839    0.212133  1.055712  0.001152    1.014209
54            0.112711  0.023857    0.118728  1.053382  0.001209    1.006827
55            0.200938  0.023857    0.211665  1.053382  0.001209    1.013607

In [72]:
df1 = (data.explode('antecedents')
         .reset_index(drop=True)
         .explode('consequents')
         .reset_index(drop=True))
print (df1)

      antecedents consequents  antecedent support  consequent support  \
0               f           f            0.059984            0.065764
1               f           r            0.059984            0.065764
2               f           o            0.059984            0.065764
3               f           z            0.059984            0.065764
4               f           e            0.059984            0.065764
...           ...         ...                 ...                 ...
52899           )           n            0.112711            0.200938
52900           )           a            0.112711            0.200938
52901           )           '            0.112711            0.200938
52902           )           }            0.112711            0.200938
52903           )           )            0.112711            0.200938

        support  confidence      lift  leverage  conviction
0      0.011860    0.197723  3.006544  0.007915    1.164480
1      0.011860    0.197723  3.006544  0.007915    1.164480
2      0.011860    0.197723  3.006544  0.007915    1.164480
3      0.011860    0.197723  3.006544  0.007915    1.164480
4      0.011860    0.197723  3.006544  0.007915    1.164480
...         ...         ...       ...       ...         ...
52899  0.023857    0.211665  1.053382  0.001209    1.013607
52900  0.023857    0.211665  1.053382  0.001209    1.013607
52901  0.023857    0.211665  1.053382  0.001209    1.013607
52902  0.023857    0.211665  1.053382  0.001209    1.013607
52903  0.023857    0.211665  1.053382  0.001209    1.013607

[52904 rows x 9 columns]

In [87]:
data

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,frozenset({'Limes'}),frozenset({'Large Lemon'}),0.059984,0.065764,0.011860,0.197723,3.006544,0.007915,1.164480
1,frozenset({'Large Lemon'}),frozenset({'Limes'}),0.065764,0.059984,0.011860,0.180345,3.006544,0.007915,1.146843
2,frozenset({'Organic Raspberries'}),frozenset({'Organic Strawberries'}),0.058325,0.112711,0.014533,0.249174,2.210731,0.007959,1.181751
3,frozenset({'Organic Strawberries'}),frozenset({'Organic Raspberries'}),0.112711,0.058325,0.014533,0.128940,2.210731,0.007959,1.081069
4,frozenset({'Organic Avocado'}),frozenset({'Large Lemon'}),0.075348,0.065764,0.010538,0.139862,2.126728,0.005583,1.086147
5,frozenset({'Large Lemon'}),frozenset({'Organic Avocado'}),0.065764,0.075348,0.010538,0.160244,2.126728,0.005583,1.101097
6,frozenset({'Organic Blueberries'}),frozenset({'Organic Strawberries'}),0.042956,0.112711,0.010235,0.238274,2.114024,0.005394,1.164840
7,frozenset({'Organic Strawberries'}),frozenset({'Organic Blueberries'}),0.112711,0.042956,0.010235,0.090809,2.114024,0.005394,1.052633
8,frozenset({'Organic Raspberries'}),frozenset({'Organic Hass Avocado'}),0.058325,0.090339,0.010966,0.188018,2.081257,0.005697,1.120298
9,frozenset({'Organic Hass Avocado'}),frozenset({'Organic Raspberries'}),0.090339,0.058325,0.010966,0.121389,2.081257,0.005697,1.071777
10,frozenset({'Organic Fuji Apple'}),frozenset({'Banana'}),0.037992,0.200938,0.014378,0.378441,1.883367,0.006744,1.285576
11,frozenset({'Banana'}),frozenset({'Organic Fuji Apple'}),0.200938,0.037992,0.014378,0.071552,1.883367,0.006744,1.036147
12,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Raspberries'}),0.161527,0.058325,0.017294,0.107065,1.835662,0.007873,1.054584
13,frozenset({'Organic Raspberries'}),frozenset({'Bag of Organic Bananas'}),0.058325,0.161527,0.017294,0.296508,1.835662,0.007873,1.191874
14,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Hass Avocado'}),0.161527,0.090339,0.026487,0.163981,1.815175,0.011895,1.088087
15,frozenset({'Organic Hass Avocado'}),frozenset({'Bag of Organic Bananas'}),0.090339,0.161527,0.026487,0.293199,1.815175,0.011895,1.186294
16,frozenset({'Banana'}),frozenset({'Honeycrisp Apple'}),0.200938,0.034078,0.012122,0.060329,1.770317,0.005275,1.027936
17,frozenset({'Honeycrisp Apple'}),frozenset({'Banana'}),0.034078,0.200938,0.012122,0.355725,1.770317,0.005275,1.240249
18,frozenset({'Organic Avocado'}),frozenset({'Organic Baby Spinach'}),0.075348,0.102948,0.013207,0.175281,1.702625,0.005450,1.087707
19,frozenset({'Organic Baby Spinach'}),frozenset({'Organic Avocado'}),0.102948,0.075348,0.013207,0.128289,1.702625,0.005450,1.060733
20,frozenset({'Organic Strawberries'}),frozenset({'Organic Hass Avocado'}),0.112711,0.090339,0.017314,0.153616,1.700440,0.007132,1.074762
21,frozenset({'Organic Hass Avocado'}),frozenset({'Organic Strawberries'}),0.090339,0.112711,0.017314,0.191659,1.700440,0.007132,1.097666
22,frozenset({'Cucumber Kirby'}),frozenset({'Banana'}),0.040789,0.200938,0.013432,0.329296,1.638788,0.005236,1.191377
23,frozenset({'Banana'}),frozenset({'Cucumber Kirby'}),0.200938,0.040789,0.013432,0.066844,1.638788,0.005236,1.027922
24,frozenset({'Organic Hass Avocado'}),frozenset({'Organic Baby Spinach'}),0.090339,0.102948,0.014787,0.163679,1.589929,0.005486,1.072618
25,frozenset({'Organic Baby Spinach'}),frozenset({'Organic Hass Avocado'}),0.102948,0.090339,0.014787,0.143632,1.589929,0.005486,1.062232
26,frozenset({'Organic Strawberries'}),frozenset({'Organic Whole Milk'}),0.112711,0.058411,0.010130,0.089873,1.538645,0.003546,1.034569
27,frozenset({'Organic Whole Milk'}),frozenset({'Organic Strawberries'}),0.058411,0.112711,0.010130,0.173423,1.538645,0.003546,1.073449
28,frozenset({'Organic Avocado'}),frozenset({'Banana'}),0.075348,0.200938,0.022745,0.301866,1.502282,0.007605,1.144568
29,frozenset({'Banana'}),frozenset({'Organic Avocado'}),0.200938,0.075348,0.022745,0.113194,1.502282,0.007605,1.042677
30,frozenset({'Seedless Red Grapes'}),frozenset({'Banana'}),0.035480,0.200938,0.010534,0.296906,1.477596,0.003405,1.136493
31,frozenset({'Banana'}),frozenset({'Seedless Red Grapes'}),0.200938,0.035480,0.010534,0.052425,1.477596,0.003405,1.017883
32,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Strawberries'}),0.161527,0.112711,0.026463,0.163832,1.453551,0.008257,1.061136
33,frozenset({'Organic Strawberries'}),frozenset({'Bag of Organic Bananas'}),0.112711,0.161527,0.026463,0.234787,1.453551,0.008257,1.095739
34,frozenset({'Strawberries'}),frozenset({'Banana'}),0.061123,0.200938,0.017661,0.288936,1.437931,0.005379,1.123754
35,frozenset({'Banana'}),frozenset({'Strawberries'}),0.200938,0.061123,0.017661,0.087891,1.437931,0.005379,1.029347
36,frozenset({'Organic Baby Spinach'}),frozenset({'Organic Strawberries'}),0.102948,0.112711,0.016267,0.158014,1.401939,0.004664,1.053805
37,frozenset({'Organic Strawberries'}),frozenset({'Organic Baby Spinach'}),0.112711,0.102948,0.016267,0.144326,1.401939,0.004664,1.048358
38,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Yellow Onion'}),0.161527,0.048146,0.010460,0.064756,1.344989,0.002683,1.017760
39,frozenset({'Organic Yellow Onion'}),frozenset({'Bag of Organic Bananas'}),0.048146,0.161527,0.010460,0.217252,1.344989,0.002683,1.071191
40,frozenset({'Large Lemon'}),frozenset({'Banana'}),0.065764,0.200938,0.017603,0.267663,1.332062,0.004388,1.091111
41,frozenset({'Banana'}),frozenset({'Large Lemon'}),0.200938,0.065764,0.017603,0.087602,1.332062,0.004388,1.023934
42,frozenset({'Organic Baby Spinach'}),frozenset({'Bag of Organic Bananas'}),0.102948,0.161527,0.021517,0.209007,1.293944,0.004888,1.060026
43,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Baby Spinach'}),0.161527,0.102948,0.021517,0.133208,1.293944,0.004888,1.034911
44,frozenset({'Organic Avocado'}),frozenset({'Organic Strawberries'}),0.075348,0.112711,0.010254,0.136095,1.207468,0.001762,1.027068
45,frozenset({'Organic Strawberries'}),frozenset({'Organic Avocado'}),0.112711,0.075348,0.010254,0.090980,1.207468,0.001762,1.017197
46,frozenset({'Bag of Organic Bananas'}),frozenset({'Organic Whole Milk'}),0.161527,0.058411,0.011288,0.069883,1.196413,0.001853,1.012335
47,frozenset({'Organic Whole Milk'}),frozenset({'Bag of Organic Bananas'}),0.058411,0.161527,0.011288,0.193253,1.196413,0.001853,1.039326
48,frozenset({'Banana'}),frozenset({'Organic Whole Milk'}),0.200938,0.058411,0.013368,0.066529,1.138984,0.001631,1.008697
49,frozenset({'Organic Whole Milk'}),frozenset({'Banana'}),0.058411,0.200938,0.013368,0.228866,1.138984,0.001631,1.036216
50,frozenset({'Limes'}),frozenset({'Banana'}),0.059984,0.200938,0.013539,0.225713,1.123292,0.001486,1.031996
51,frozenset({'Banana'}),frozenset({'Limes'}),0.200938,0.059984,0.013539,0.067380,1.123292,0.001486,1.007930
52,frozenset({'Banana'}),frozenset({'Organic Baby Spinach'}),0.200938,0.102948,0.021839,0.108683,1.055712,0.001152,1.006435
53,frozenset({'Organic Baby Spinach'}),frozenset({'Banana'}),0.102948,0.200938,0.021839,0.212133,1.055712,0.001152,1.014209
54,frozenset({'Banana'}),frozenset({'Organic Strawberries'}),0.200938,0.112711,0.023857,0.118728,1.053382,0.001209,1.006827
55,frozenset({'Organic Strawberries'}),frozenset({'Banana'}),0.112711,0.200938,0.023857,0.211665,1.053382,0.001209,1.013607

In [9]:
# res = data[list(data.antecedents.values)[0] == '(Banana)']
# res = list(data.antecedents.values)
# res[0]
# ls = []
# [ls.append(list(i)[0]) for i in res]
# ls
data = pd.read_csv("basket_data_top100.csv")
f = open('p_list.txt', 'r')
lst = []
for line in f:
    lst.append(line[:-1])
f.close()
def predict(inp):
    result = []
    for i in range (0, len(data.antecedents)):
        if (data.antecedents[i].split("'")[1] == inp):
            ls = []
            ls.append(data.consequents[i].split("'")[1])
            ls.append(data.lift[i])
            result.append(ls)
    res = sorted(result, key=lambda x : x[1], reverse=True)
    dt = []
    for item in res:
        dt.append(item[0])
        # print(item[0]) 
    for item in lst:
        if len(dt) > 10:
            break
        else:
            if item not in dt:
                dt.append(item)
    return dt

In [11]:
print(predict('Banana'))

['Organic Fuji Apple', 'Honeycrisp Apple', 'Cucumber Kirby', 'Organic Avocado', 'Seedless Red Grapes', 'Strawberries', 'Large Lemon', 'Organic Whole Milk', 'Limes', 'Organic Baby Spinach', 'Organic Strawberries']

In [8]:
ls = ['Seedless Red Grapes', 'Strawberries', 'Organic Strawberries', 'Organic Baby Spinach', 'Limes', 'Organic Whole Milk', 'Organic Fuji Apple', 'Honeycrisp Apple', 'Large Lemon', 'Organic Avocado', 'Cucumber Kirby']
for l in ls:
    print(predict(l))

['Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Organic Raspberries', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Whole Milk', 'Bag of Organic Bananas', 'Organic Baby Spinach', 'Organic Avocado', 'Banana', 'Large Lemon', 'Organic Strawberries', 'Organic Fuji Apple']
['Organic Avocado', 'Organic Hass Avocado', 'Organic Strawberries', 'Bag of Organic Bananas', 'Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Blueberries', 'Organic Fuji Apple', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Large Lemon', 'Banana', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Organic Strawberries', 'Bag of Organic Bananas', 'Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']
['Limes', 'Organic Avocado', 'Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple']
['Large Lemon', 'Organic Baby Spinach', 'Banana', 'Organic Strawberries', 'Organic Raspberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple']
['Banana', 'Large Lemon', 'Organic Raspberries', 'Organic Strawberries', 'Organic Avocado', 'Organic Blueberries', 'Organic Hass Avocado', 'Organic Fuji Apple', 'Bag of Organic Bananas', 'Honeycrisp Apple', 'Organic Baby Spinach']

In [121]:
result_list = []
for i in range (0, len(data.consequents)):
    result_list.append(data.consequents[i].split("'")[1])
    print(data.consequents[i].split("'")[1])

Large Lemon
Limes
Organic Strawberries
Organic Raspberries
Large Lemon
Organic Avocado
Organic Strawberries
Organic Blueberries
Organic Hass Avocado
Organic Raspberries
Banana
Organic Fuji Apple
Organic Raspberries
Bag of Organic Bananas
Organic Hass Avocado
Bag of Organic Bananas
Honeycrisp Apple
Banana
Organic Baby Spinach
Organic Avocado
Organic Hass Avocado
Organic Strawberries
Banana
Cucumber Kirby
Organic Baby Spinach
Organic Hass Avocado
Organic Whole Milk
Organic Strawberries
Banana
Organic Avocado
Banana
Seedless Red Grapes
Organic Strawberries
Bag of Organic Bananas
Banana
Strawberries
Organic Strawberries
Organic Baby Spinach
Organic Yellow Onion
Bag of Organic Bananas
Banana
Large Lemon
Bag of Organic Bananas
Organic Baby Spinach
Organic Strawberries
Organic Avocado
Organic Whole Milk
Bag of Organic Bananas
Organic Whole Milk
Banana
Banana
Limes
Organic Baby Spinach
Banana
Organic Strawberries
Banana

In [107]:
Organic Raspberries

56

In [116]:
products_list
f = open("product_list.txt", "w")
for ls in products_list:
    f.writelines(ls)
    f.write('\n')
f.close()

In [ ]:
len(pd.unique(orders['order_id']))

3421083

In [63]:
res = data[data['lift'] <= 3.006544]
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
52,(Organic Raspberries),(Organic Strawberries),0.058325,0.112711,0.014533,0.249174,2.210731,0.007959,1.181751
53,(Organic Strawberries),(Organic Raspberries),0.112711,0.058325,0.014533,0.128940,2.210731,0.007959,1.081069
36,(Organic Avocado),(Large Lemon),0.075348,0.065764,0.010538,0.139862,2.126728,0.005583,1.086147
37,(Large Lemon),(Organic Avocado),0.065764,0.075348,0.010538,0.160244,2.126728,0.005583,1.101097
47,(Organic Strawberries),(Organic Blueberries),0.112711,0.042956,0.010235,0.090809,2.114024,0.005394,1.052633
46,(Organic Blueberries),(Organic Strawberries),0.042956,0.112711,0.010235,0.238274,2.114024,0.005394,1.164840
49,(Organic Hass Avocado),(Organic Raspberries),0.090339,0.058325,0.010966,0.121389,2.081257,0.005697,1.071777
48,(Organic Raspberries),(Organic Hass Avocado),0.058325,0.090339,0.010966,0.188018,2.081257,0.005697,1.120298
24,(Organic Fuji Apple),(Banana),0.037992,0.200938,0.014378,0.378441,1.883367,0.006744,1.285576
25,(Banana),(Organic Fuji Apple),0.200938,0.037992,0.014378,0.071552,1.883367,0.006744,1.036147
5,(Bag of Organic Bananas),(Organic Raspberries),0.161527,0.058325,0.017294,0.107065,1.835662,0.007873,1.054584
4,(Organic Raspberries),(Bag of Organic Bananas),0.058325,0.161527,0.017294,0.296508,1.835662,0.007873,1.191874
3,(Bag of Organic Bananas),(Organic Hass Avocado),0.161527,0.090339,0.026487,0.163981,1.815175,0.011895,1.088087
2,(Organic Hass Avocado),(Bag of Organic Bananas),0.090339,0.161527,0.026487,0.293199,1.815175,0.011895,1.186294
14,(Banana),(Honeycrisp Apple),0.200938,0.034078,0.012122,0.060329,1.770317,0.005275,1.027936
15,(Honeycrisp Apple),(Banana),0.034078,0.200938,0.012122,0.355725,1.770317,0.005275,1.240249
39,(Organic Avocado),(Organic Baby Spinach),0.075348,0.102948,0.013207,0.175281,1.702625,0.005450,1.087707
38,(Organic Baby Spinach),(Organic Avocado),0.102948,0.075348,0.013207,0.128289,1.702625,0.005450,1.060733
50,(Organic Strawberries),(Organic Hass Avocado),0.112711,0.090339,0.017314,0.153616,1.700440,0.007132,1.074762
51,(Organic Hass Avocado),(Organic Strawberries),0.090339,0.112711,0.017314,0.191659,1.700440,0.007132,1.097666
12,(Cucumber Kirby),(Banana),0.040789,0.200938,0.013432,0.329296,1.638788,0.005236,1.191377
13,(Banana),(Cucumber Kirby),0.200938,0.040789,0.013432,0.066844,1.638788,0.005236,1.027922
43,(Organic Hass Avocado),(Organic Baby Spinach),0.090339,0.102948,0.014787,0.163679,1.589929,0.005486,1.072618
42,(Organic Baby Spinach),(Organic Hass Avocado),0.102948,0.090339,0.014787,0.143632,1.589929,0.005486,1.062232
55,(Organic Whole Milk),(Organic Strawberries),0.058411,0.112711,0.010130,0.173423,1.538645,0.003546,1.073449
54,(Organic Strawberries),(Organic Whole Milk),0.112711,0.058411,0.010130,0.089873,1.538645,0.003546,1.034569
20,(Organic Avocado),(Banana),0.075348,0.200938,0.022745,0.301866,1.502282,0.007605,1.144568
21,(Banana),(Organic Avocado),0.200938,0.075348,0.022745,0.113194,1.502282,0.007605,1.042677
30,(Seedless Red Grapes),(Banana),0.035480,0.200938,0.010534,0.296906,1.477596,0.003405,1.136493
31,(Banana),(Seedless Red Grapes),0.200938,0.035480,0.010534,0.052425,1.477596,0.003405,1.017883
7,(Bag of Organic Bananas),(Organic Strawberries),0.161527,0.112711,0.026463,0.163832,1.453551,0.008257,1.061136
6,(Organic Strawberries),(Bag of Organic Bananas),0.112711,0.161527,0.026463,0.234787,1.453551,0.008257,1.095739
32,(Strawberries),(Banana),0.061123,0.200938,0.017661,0.288936,1.437931,0.005379,1.123754
33,(Banana),(Strawberries),0.200938,0.061123,0.017661,0.087891,1.437931,0.005379,1.029347
45,(Organic Strawberries),(Organic Baby Spinach),0.112711,0.102948,0.016267,0.144326,1.401939,0.004664,1.048358
44,(Organic Baby Spinach),(Organic Strawberries),0.102948,0.112711,0.016267,0.158014,1.401939,0.004664,1.053805
11,(Bag of Organic Bananas),(Organic Yellow Onion),0.161527,0.048146,0.010460,0.064756,1.344989,0.002683,1.017760
10,(Organic Yellow Onion),(Bag of Organic Bananas),0.048146,0.161527,0.010460,0.217252,1.344989,0.002683,1.071191
16,(Large Lemon),(Banana),0.065764,0.200938,0.017603,0.267663,1.332062,0.004388,1.091111
17,(Banana),(Large Lemon),0.200938,0.065764,0.017603,0.087602,1.332062,0.004388,1.023934
0,(Organic Baby Spinach),(Bag of Organic Bananas),0.102948,0.161527,0.021517,0.209007,1.293944,0.004888,1.060026
1,(Bag of Organic Bananas),(Organic Baby Spinach),0.161527,0.102948,0.021517,0.133208,1.293944,0.004888,1.034911
40,(Organic Avocado),(Organic Strawberries),0.075348,0.112711,0.010254,0.136095,1.207468,0.001762,1.027068
41,(Organic Strawberries),(Organic Avocado),0.112711,0.075348,0.010254,0.090980,1.207468,0.001762,1.017197
9,(Organic Whole Milk),(Bag of Organic Bananas),0.058411,0.161527,0.011288,0.193253,1.196413,0.001853,1.039326
8,(Bag of Organic Bananas),(Organic Whole Milk),0.161527,0.058411,0.011288,0.069883,1.196413,0.001853,1.012335
29,(Organic Whole Milk),(Banana),0.058411,0.200938,0.013368,0.228866,1.138984,0.001631,1.036216
28,(Banana),(Organic Whole Milk),0.200938,0.058411,0.013368,0.066529,1.138984,0.001631,1.008697
19,(Banana),(Limes),0.200938,0.059984,0.013539,0.067380,1.123292,0.001486,1.007930
18,(Limes),(Banana),0.059984,0.200938,0.013539,0.225713,1.123292,0.001486,1.031996
23,(Banana),(Organic Baby Spinach),0.200938,0.102948,0.021839,0.108683,1.055712,0.001152,1.006435
22,(Organic Baby Spinach),(Banana),0.102948,0.200938,0.021839,0.212133,1.055712,0.001152,1.014209
27,(Banana),(Organic Strawberries),0.200938,0.112711,0.023857,0.118728,1.053382,0.001209,1.006827
26,(Organic Strawberries),(Banana),0.112711,0.200938,0.023857,0.211665,1.053382,0.001209,1.013607

In [118]:
products_list = set(products_list)

In [122]:
result_list = set(result_list)

In [135]:
f = open('product_list.txt', 'r')
d = {}
for line in f:
    print(line.split(',')[0])
    print(line.split(',')[1].lstrip().rstrip())
    d[line.split(',')[0]] = line.split(',')[1].lstrip().rstrip()
f.close()

Limes
https://belvoir-university-health.s3.amazonaws.com/media/2020/06/08160241/benefits-of-lime.jpg
Large Lemon
https://image.shutterstock.com/image-photo/large-lemons-lemon-tree-grove-260nw-552348052.jpg
Organic Raspberries
https://www.producemarketguide.com/sites/default/files/Commodities.tar/Commodities/raspberries_commodity-page.png
Organic Strawberries
https://5.imimg.com/data5/PG/GG/MY-39722197/strawberries-500x500.jpg
Organic Avocado
https://5.imimg.com/data5/VR/LB/MY-58843567/organic-avocado-500x500.jpg
Organic Blueberries
https://www.producemarketguide.com/sites/default/files/Commodities.tar/Commodities/blueberries_commodity-page.png
Organic Hass Avocado
https://5.imimg.com/data5/DV/KU/MY-29885087/organic-hass-avocado-500x500.jpg
Organic Fuji Apple
https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvODFkTmkxc3gzQ0wuX1NMMTUwMF8uanBn.jpg
Banana
https://www.mashed.com/img/gallery/heres-what-happens-when-you-eat-a-banana-every-day/intro-1596497583.jpg
Bag of Organic Bananas
https://tipa-corp.com/wp-content/uploads/2020/07/Waitrose-TP302-Organic-bananas-e1593957530447.jpeg
Honeycrisp Apple
https://gumlet.assettype.com/bloombergquint/2018-11/54a00f12-7af5-4a1c-9082-1040f1a6588f/honeycrisp.jpg
Organic Baby Spinach
https://m.media-amazon.com/images/I/71Nazws5PnL._SL1500_.jpg
Cucumber Kirby
https://4.imimg.com/data4/YE/FW/GLADMIN-15349992/ax-500x500.jpg
Organic Whole Milk
https://m.media-amazon.com/images/I/71er6zsk5-L._SL1500_.jpg
Seedless Red Grapes
https://5.imimg.com/data5/NU/HP/MY-24691404/red-seedless-grapes-500x500.jpg
Strawberries
https://cdn.britannica.com/22/75922-050-D3982BD0/flowers-fruits-garden-strawberry-plant-species.jpg
Organic Yellow Onion
https://5.imimg.com/data5/OO/NV/MY-30621260/brown-onion-500x500.jpg

In [239]:
product_data = pd.read_csv("product_datas.csv")

In [240]:
product_datas[product_datas.product_name == 'Banana']

,Unnamed: 0,product_id,product_name,price,url,aisle_id,department_id
24851,24851,24852,Banana,158,https://www.mashed.com/img/gallery/heres-what-...,24,4

In [143]:
import csv
dt = csv.DictReader(product_data)
dt

In [238]:
product_data.to_csv('product_datas.csv')

In [188]:
lt = []
for item in d.items():
    lt.append(item[1])
lt

['https://image.shutterstock.com/image-photo/large-lemons-lemon-tree-grove-260nw-552348052.jpg',
 'https://www.producemarketguide.com/sites/default/files/Commodities.tar/Commodities/raspberries_commodity-page.png',
 'https://5.imimg.com/data5/PG/GG/MY-39722197/strawberries-500x500.jpg',
 'https://5.imimg.com/data5/VR/LB/MY-58843567/organic-avocado-500x500.jpg',
 'https://www.producemarketguide.com/sites/default/files/Commodities.tar/Commodities/blueberries_commodity-page.png',
 'https://5.imimg.com/data5/DV/KU/MY-29885087/organic-hass-avocado-500x500.jpg',
 'https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvODFkTmkxc3gzQ0wuX1NMMTUwMF8uanBn.jpg',
 'https://www.mashed.com/img/gallery/heres-what-happens-when-you-eat-a-banana-every-day/intro-1596497583.jpg',
 'https://tipa-corp.com/wp-content/uploads/2020/07/Waitrose-TP302-Organic-bananas-e1593957530447.jpeg',
 'https://gumlet.assettype.com/bloombergquint/2018-11/54a00f12-7af5-4a1c-9082-1040f1a6588f/honeycrisp.jpg',
 'https://m.media-amazon.com/images/I/71Nazws5PnL._SL1500_.jpg',
 'https://4.imimg.com/data4/YE/FW/GLADMIN-15349992/ax-500x500.jpg',
 'https://m.media-amazon.com/images/I/71er6zsk5-L._SL1500_.jpg',
 'https://5.imimg.com/data5/NU/HP/MY-24691404/red-seedless-grapes-500x500.jpg',
 'https://cdn.britannica.com/22/75922-050-D3982BD0/flowers-fruits-garden-strawberry-plant-species.jpg',
 'https://5.imimg.com/data5/OO/NV/MY-30621260/brown-onion-500x500.jpg',
 'https://belvoir-university-health.s3.amazonaws.com/media/2020/06/08160241/benefits-of-lime.jpg']

In [244]:
f = open('p_list.txt', 'w')
for item in ls:
    f.writelines(item)
    f.write('\n')
f.close()

In [179]:
# product_data[product_data.product_name.isin(ls)]
product_data.loc[product_data['product_name'].isin(ls), 'url'] = d[product_data.loc]

KeyError: "None of [Index(['Chocolate Sandwich Cookies', 'All-Seasons Salt',\n       'Robust Golden Unsweetened Oolong Tea',\n       'Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce',\n       'Green Chile Anytime Sauce', 'Dry Nose Oil',\n       'Pure Coconut Water With Orange', 'Cut Russet Potatoes Steam N' Mash',\n       'Light Strawberry Blueberry Yogurt',\n       'Sparkling Orange Juice & Prickly Pear Beverage',\n       ...\n       'Famous Chocolate Wafers', 'All Natural Creamy Caesar Dressing',\n       'Spaghetti with Meatballs and Sauce Meal', 'California Limeade',\n       'Cucumber Kirby', 'Vodka, Triple Distilled, Twist of Vanilla',\n       'En Croute Roast Hazelnut Cranberry', 'Artisan Baguette',\n       'Smartblend Healthy Metabolism Dry Cat Food', 'Fresh Foaming Cleanser'],\n      dtype='object', length=49688)] are in the [index]"

In [232]:

for item in product_data.index:
        if product_data['product_name'][item] in ls:
            product_data['url'][item] = d[product_data['product_name'][item]]

<ipython-input-232-47974c548a49>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_data['url'][item] = d[product_data['product_name'][item]]

In [237]:
product_data[product_data.product_name == 'Organic Hass Avocado']

,product_id,product_name,price,url,aisle_id,department_id
47208,47209,Organic Hass Avocado,154,https://5.imimg.com/data5/DV/KU/MY-29885087/or...,24,4

In [213]:
product_data['product_name'][0]

'Chocolate Sandwich Cookies'

In [228]:
product_data[product_data.product_name == 'Banana']

Empty DataFrame
Columns: [product_id, product_name, price, url, aisle_id, department_id]
Index: []

In [220]:
product_data

,product_id,product_name,price,url,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,92,https://www.kindpng.com/picc/m/241-2413612_gro...,61,19
1,2,All-Seasons Salt,142,https://www.kindpng.com/picc/m/241-2413612_gro...,104,13
2,3,Robust Golden Unsweetened Oolong Tea,184,https://www.kindpng.com/picc/m/241-2413612_gro...,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,97,https://www.kindpng.com/picc/m/241-2413612_gro...,38,1
4,5,Green Chile Anytime Sauce,137,https://www.kindpng.com/picc/m/241-2413612_gro...,5,13
...,...,...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",98,https://www.kindpng.com/picc/m/241-2413612_gro...,124,5
49684,49685,En Croute Roast Hazelnut Cranberry,137,https://www.kindpng.com/picc/m/241-2413612_gro...,42,1
49685,49686,Artisan Baguette,63,https://www.kindpng.com/picc/m/241-2413612_gro...,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,173,https://www.kindpng.com/picc/m/241-2413612_gro...,41,8
49687,49688,Fresh Foaming Cleanser,100,https://www.kindpng.com/picc/m/241-2413612_gro...,73,11

In [178]:
product_data[product_data.url == 'okk']
product_data

,product_id,product_name,price,url,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,92,https://www.kindpng.com/picc/m/241-2413612_gro...,61,19
1,2,All-Seasons Salt,142,https://www.kindpng.com/picc/m/241-2413612_gro...,104,13
2,3,Robust Golden Unsweetened Oolong Tea,184,https://www.kindpng.com/picc/m/241-2413612_gro...,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,97,https://www.kindpng.com/picc/m/241-2413612_gro...,38,1
4,5,Green Chile Anytime Sauce,137,https://www.kindpng.com/picc/m/241-2413612_gro...,5,13
...,...,...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",98,https://www.kindpng.com/picc/m/241-2413612_gro...,124,5
49684,49685,En Croute Roast Hazelnut Cranberry,137,https://www.kindpng.com/picc/m/241-2413612_gro...,42,1
49685,49686,Artisan Baguette,63,https://www.kindpng.com/picc/m/241-2413612_gro...,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,173,https://www.kindpng.com/picc/m/241-2413612_gro...,41,8
49687,49688,Fresh Foaming Cleanser,100,https://www.kindpng.com/picc/m/241-2413612_gro...,73,11

In [ ]:
aisles = pd.read_csv("Data/aisles.csv")
departments = pd.read_csv("Data/departments.csv")
order_products_prior = pd.read_csv("Data/order_products__prior.csv")
order_products_train = pd.read_csv("Data/order_products__train.csv")
orders = pd.read_csv("Data/orders.csv")
products = pd.read_csv("Data/products.csv")

In [ ]:
newOrder = orders[orders['eval_set'] != 'test']

In [ ]:
# newOrder.head()
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0